body{margin:0 auto;
    background: #666;
    }

body>header {
    background: #666;
    padding: 1em;
    clear:both;}
header h1 {
    font-size: 4em;
    margin: 0em;
    color: #fff;}


nav {
    background: #999;
    font-weight: bold;
    clear:both;}
nav ul {
    display:  block;
    clear: right;        }
nav ul li {
    display: inline;}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size:2em;}
nav ul li a:hover {
    background: #555;
    text-decoration: none;}

body>article {
    padding:1em 10% 1em 10%;
    background:  #F5F5F5;
    margin:0 auto;}
article > header h1 {
    font-size: 2em;
    float: left;
    margin-left: 1em;}
article > header h1 a {
    color: #000090;
    text-decoration: none;}
article p {
    clear: both;
    text-indent:1em;}

article > section header h1{
    font-size: 1em;
    margin-left: 1em;}
article >  section figure {
    margin-bottom: 0.5em;
    text-align: center;}

article>h1:first-child{margin:0;}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6,
article p{margin:.8em 0;}
article h1{font-size:1.6em;}
article h2{font-size:1.4em;}
article p{}

article ul{
    margin:0 auto;
    padding: 0em;
    width:100%;
    display:  block;
    clear: right; 
}
article li {
    padding: 0em;
    display: inline;}

article ol{padding-left:2em;}

article dl{margin:.5em .8em;}
article dl dd{margin-left:2em;}
article dl dd>ul,
article dl dd>ol{padding-left:1em;}

article pre{width:100%; border:1em solid #A9A9A9; background:#000000; font-size:85%;}
article code{margin: 2em; padding: 1.5em; color:#FFFFFF;font-family:"Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;}

article table{border-collapse:collapse;}
article th,article td{padding:0 10px; border:1px solid #ccc; font-size:85%;}
article th{background:#eee; text-align:left;}
article td{background:#fff;}
article table a{margin:0;}

article blockquote{line-height:1.6em; margin:1em 0 1em 1.5em; border-left:0.5em solid #B8860B; padding-left:1em; font-size:90%;}

a{margin:0 2px; color:#06c; text-decoration:none;}
a:hover{text-decoration:underline;}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{margin:0;}




body > aside {
    padding:1em 10% 1em 10%;
    background:  #ccc;
    font-size:0.8em;}
aside h1{
    font-size: 2em;}
aside p {
    color: #000;}

body>footer {
    color:#fff;
    clear:both;
    background-color: #AAA;}
footer p {
    text-align: center;
    float:;
    font-size: 1em;
    color: #eee;}



.cover{width:50%; border:0.5em solid #A9A9A9;}
