body>header {  background: #666;  padding: 20px;  height:80px;  clear:both;}
header h1 {  font-size: 50px; margin: 0px; color: #005;}header h2 {  font-size: 15px; margin: 0px; color:  #EEE;  font-style: italic;}
header p{  color: #EEE;  font-size:10px;}

nav {  height:25px;  background: #000;  color: #fff;  font-weight: bold;  clear:both;}
nav ul {  list-style: none;  padding: 0px; display:  block;  clear: right; background-color: #99f; padding-left:  4px;  height: 24px;}
nav ul li {  display: inline;padding: 0px 20px 5px 10px;height: 24px;border-right: 1px  solid #ccc;}
nav ul li a {  color: #006;  text-decoration: none; font-size:  13px;  font-weight: bold;}
nav ul li a:hover {  color: #fff;}

body>article {  width:540px;   padding:10px;    float: left;}
article > header h1 {  font-size: 40px; float: left; margin-left: 14px;}
article > header h1 a {  color: #000090;  text-decoration: none;}
article p {  clear: both; text-indent:20px;}


body>footer {  color:#fff; clear:both;  background-color: #AAA;}
footer p {  text-align: center; font-size: 12px; color: #005;}

