HTML {
	COLOR: #000
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
HR {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
article {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
aside {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
details {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
figcaption {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
figure {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
footer {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
header {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
hgroup {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
MENU {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
nav {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
section {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
article {
	DISPLAY: block
}
aside {
	DISPLAY: block
}
details {
	DISPLAY: block
}
figcaption {
	DISPLAY: block
}
figure {
	DISPLAY: block
}
footer {
	DISPLAY: block
}
header {
	DISPLAY: block
}
hgroup {
	DISPLAY: block
}
MENU {
	DISPLAY: block
}
nav {
	DISPLAY: block
}
section {
	DISPLAY: block
}
BODY {
	
}
BUTTON {
	
}
INPUT {
	
}
SELECT {
	
}
TEXTAREA {
	
}
INPUT {
	FONT-SIZE: 100%
}
SELECT {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-SIZE: 100%
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
TH {
	
}
FIELDSET {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
A IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
IFRAME {
	DISPLAY: block
}
ABBR {
	BORDER-RIGHT-WIDTH: 0px; FONT-VARIANT: normal; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
ACRONYM {
	BORDER-RIGHT-WIDTH: 0px; FONT-VARIANT: normal; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
DEL {
	TEXT-DECORATION: line-through
}
ADDRESS {
	FONT-STYLE: normal; FONT-WEIGHT: 500
}
CAPTION {
	FONT-STYLE: normal; FONT-WEIGHT: 500
}
CITE {
	FONT-STYLE: normal; FONT-WEIGHT: 500
}
CODE {
	FONT-STYLE: normal; FONT-WEIGHT: 500
}
DFN {
	FONT-STYLE: normal; FONT-WEIGHT: 500
}
EM {
	FONT-STYLE: normal; FONT-WEIGHT: 500
}
TH {
	FONT-STYLE: normal; FONT-WEIGHT: 500
}
VAR {
	FONT-STYLE: normal; FONT-WEIGHT: 500
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
H1 {
	FONT-SIZE: 100%; FONT-WEIGHT: 500
}
H2 {
	FONT-SIZE: 100%; FONT-WEIGHT: 500
}
H3 {
	FONT-SIZE: 100%; FONT-WEIGHT: 500
}
H4 {
	FONT-SIZE: 100%; FONT-WEIGHT: 500
}
H5 {
	FONT-SIZE: 100%; FONT-WEIGHT: 500
}
H6 {
	FONT-SIZE: 100%; FONT-WEIGHT: 500
}
Q:before {
	CONTENT: ''
}
Q:after {
	CONTENT: ''
}
SUP {
	VERTICAL-ALIGN: text-top
}
SUB {
	VERTICAL-ALIGN: text-bottom
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px; CONTENT: " "
}
.clearfix {
	ZOOM: 1
}
BODY .hide {
	DISPLAY: none
}
.left {
	DISPLAY: inline
}
.right {
	DISPLAY: inline
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
BODY {
	FONT-FAMILY: "Î¢ÈíÑÅºÚ","Arial","Helvetica","sans-serif"; FONT-SIZE: 16px
}
A {
	OUTLINE-STYLE: none; COLOR: #4a75b5; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
A.external {
	PADDING-RIGHT: 13px; BACKGROUND: url(/images/icons.gif) no-repeat right 1px
}
A.external:hover {
	BACKGROUND-POSITION: right -15px
}
.entry-title {
	TEXT-ALIGN: center; MARGIN-BOTTOM: 6px; COLOR: #000; FONT-SIZE: 30px; FONT-WEIGHT: bold
}
.entry-title A {
	TEXT-ALIGN: center; MARGIN-BOTTOM: 6px; COLOR: #000; FONT-SIZE: 30px; FONT-WEIGHT: bold
}
.entry-title A:hover {
	TEXT-DECORATION: none
}
.entry-date {
	TEXT-ALIGN: center; MARGIN-BOTTOM: 60px; COLOR: #999; FONT-SIZE: 14px
}
H2 {
	MARGIN-BOTTOM: 25px; FONT-SIZE: 22px; FONT-WEIGHT: bold
}
H3 {
	MARGIN-BOTTOM: 25px; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
H4 {
	MARGIN-BOTTOM: 15px; FONT-WEIGHT: bold
}
H5 {
	MARGIN-BOTTOM: 15px; FONT-WEIGHT: bold
}
H6 {
	MARGIN-BOTTOM: 15px; FONT-WEIGHT: bold
}
P {
	LINE-HEIGHT: 1.8em; MARGIN-BOTTOM: 40px
}
CODE {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: "Courier"; WORD-WRAP: break-word; BACKGROUND: #eee; FONT-SIZE: 14px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px
}
PRE {
	BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 15px; BACKGROUND-COLOR: #000; MARGIN-TOP: -20px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; MARGIN-BOTTOM: 40px; COLOR: #b9bdb6; FONT-SIZE: 14px; OVERFLOW: auto; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 15px; -webkit-border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px; border-radius: 4px 4px 4px 4px
}
H4 + PRE {
	MARGIN-TOP: 20px
}
H3 + PRE {
	MARGIN-TOP: 20px
}
PRE CODE {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: transparent; BORDER-LEFT-STYLE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: normal; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; PADDING-TOP: 0px
}
PRE OL {
	LIST-STYLE-TYPE: decimal; MARGIN-LEFT: 25px
}
#content {
	MARGIN: 90px auto 60px; MIN-HEIGHT: 400px; WIDTH: 1060px; HEIGHT: auto !important
}
.sidenav {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; WIDTH: 240px; PADDING-RIGHT: 20px; MARGIN-BOTTOM: 50px; BACKGROUND: #fff; FLOAT: right; PADDING-TOP: 20px; box-shadow: 0 1px 4px #ccc
}
.sidenav H2 {
	MARGIN-BOTTOM: 15px; COLOR: #333; FONT-SIZE: 18px
}
.sidenav UL {
	MARGIN-BOTTOM: 50px
}
.sidenav LI {
	MARGIN-BOTTOM: 12px
}
.sidenav A {
	DISPLAY: block; COLOR: #555; FONT-SIZE: 14px
}
.entry {
	PADDING-BOTTOM: 30px; PADDING-LEFT: 30px; WIDTH: 680px; PADDING-RIGHT: 30px; MARGIN-BOTTOM: 80px; BACKGROUND: #fff; FLOAT: left; PADDING-TOP: 30px; box-shadow: 0 2px 6px #ccc
}
.entry UL {
	MARGIN-BOTTOM: 25px; MARGIN-LEFT: 25px
}
.entry P + UL {
	MARGIN-TOP: -20px
}
.entry UL LI {
	LINE-HEIGHT: 1.8em; LIST-STYLE-TYPE: disc; MARGIN-BOTTOM: 5px
}
.entry OL {
	MARGIN-BOTTOM: 25px; MARGIN-LEFT: 25px
}
.entry OL LI {
	LINE-HEIGHT: 1.1em; LIST-STYLE-TYPE: decimal; MARGIN-BOTTOM: 5px
}
.entry BLOCKQUOTE {
	FONT-STYLE: italic; MARGIN-LEFT: 25px; FONT-SIZE: 14px
}
.entry IMG {
	MARGIN: 10px auto; DISPLAY: block; MAX-WIDTH: 670px
}
.index-content .aside {
	POSITION: fixed; WIDTH: 30%; MAX-WIDTH: 500px; BACKGROUND: #000 50% 50%; HEIGHT: 100%; TOP: 0px; LEFT: 0px; box-shadow: inset -1px 0 0 rgba(0,0,0,0.3); background-size: cover
}
.blog .aside {
	BACKGROUND-IMAGE: url(../images/aside.jpg)
}
.opinion .aside {
	BACKGROUND-IMAGE: url(https://dnqgz544uhbo8.cloudfront.net/_/fp/img/bestof/june-2013.CaUUbO2jIECgCmldhmxCCA.jpg)
}
.project .aside {
	BACKGROUND-IMAGE: url(https://d233eq3e3p3cv0.cloudfront.net/max/1000/0*kTUZamBulGQZg1MW.jpeg)
}
.index-content .section {
	PADDING-RIGHT: 15%; MARGIN-LEFT: 30%; PADDING-TOP: 80px
}
.index-content .artical-list {
	MARGIN: 0px auto; WIDTH: 70%
}
.index-content .artical-list LI {
	MARGIN-BOTTOM: 70px
}
.index-content H2 {
	MARGIN-BOTTOM: 15px; FONT-SIZE: 20px
}
.index-content H2 A {
	COLOR: #444
}
.index-content H2 A:hover {
	COLOR: #e50053; TEXT-DECORATION: none
}
.index-content .title-desc {
	LINE-HEIGHT: 1.6em; COLOR: #999; FONT-SIZE: 14px
}
.index-content .artical-cate {
	MARGIN: 0px auto; WIDTH: 70%
}
.index-content .artical-cate LI {
	WIDTH: 32%; ZOOM: 1; DISPLAY: inline-block; FLOAT: left; FONT-SIZE: 18px; CURSOR: pointer
}
.index-content .artical-cate LI A {
	WIDTH: 100%; ZOOM: 1; DISPLAY: inline-block; COLOR: #000
}
.index-content .artical-cate LI A:visited {
	WIDTH: 100%; ZOOM: 1; DISPLAY: inline-block; COLOR: #000
}
.index-content .artical-cate LI A:hover {
	TEXT-DECORATION: none
}
.index-content .artical-cate LI.on SPAN {
	COLOR: red
}
.index-content .cate-bar {
	MARGIN: 0px auto 100px; WIDTH: 70%; HEIGHT: 3px
}
.index-content #cateBar {
	POSITION: relative; WIDTH: 0px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND: red; HEIGHT: 3px
}
.wiki H2 {
	CURSOR: pointer
}
.wiki UL {
	LIST-STYLE-TYPE: disc; MARGIN-BOTTOM: 20px; MARGIN-LEFT: 30px
}
.wiki UL LI {
	MARGIN-BOTTOM: 5px
}
.wiki UL UL {
	LIST-STYLE-TYPE: circle; MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
#disqus_container {
	FONT-SIZE: 12px
}
#disqus_container A.comment {
	FONT-SIZE: 14px
}
H3.about {
	MARGIN-TOP: 20px; MARGIN-BOTTOM: 10px; COLOR: #777; FONT-SIZE: 22px
}
.about-link A {
	FONT-STYLE: italic; COLOR: #e50053; FONT-SIZE: 13px; FONT-WEIGHT: bold; MARGIN-RIGHT: 10px
}
#menuIndex {
	OVERFLOW: auto
}
#menuIndex A {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 2px
}
#menuIndex A:hover {
	TEXT-DECORATION: none
}
#menuIndex UL {
	MARGIN-BOTTOM: 10px
}
#menuIndex UL LI {
	PADDING-LEFT: 10px; WORD-WRAP: break-word; MARGIN-BOTTOM: 5px; FONT-SIZE: 12px
}
#menuIndex UL LI.on {
	BACKGROUND-COLOR: #f5f5f5
}
#menuIndex LI.h1 {
	PADDING-LEFT: 0px; MARGIN-BOTTOM: 10px; FONT-SIZE: 14px; FONT-WEIGHT: normal
}
#menuIndex LI.h3 {
	PADDING-LEFT: 25px
}
.home-menu {
	Z-INDEX: 5; POSITION: fixed; FONT-SIZE: 0px; TOP: 15px; LEFT: 15px
}
.home-menu-icon {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 38px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: inline-block; BACKGROUND: #000; COLOR: #fff; FONT-SIZE: 18px; PADDING-TOP: 0px
}
.home-follow {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 38px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: inline-block; BACKGROUND: #000; COLOR: #fff; MARGIN-LEFT: 2px; FONT-SIZE: 18px; PADDING-TOP: 0px
}
.home-menu-icon:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.home-follow:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.home-contact {
	TEXT-ALIGN: center; PADDING-BOTTOM: 7px; MARGIN-TOP: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: none; BACKGROUND: #000; COLOR: #fff; PADDING-TOP: 8px
}
.home-contact A {
	WIDTH: 30px; DISPLAY: inline-block
}
.home-contact IMG {
	WIDTH: 18px
}

@media Unknown    
{
BODY {
	FONT-SIZE: 14px
}
#content {
	MARGIN: 100px auto 50px; WIDTH: 85%
}
H2 {
	FONT-SIZE: 20px
}
H3 {
	FONT-SIZE: 16px
}
EMBED {
	DISPLAY: none
}
.entry-title {
	FONT-SIZE: 24px
}
.entry-title A {
	FONT-SIZE: 24px
}
.entry-date {
	MARGIN-BOTTOM: 40px
}
.entry IMG {
	MAX-WIDTH: 90%
}
.entry PRE OL LI {
	LINE-HEIGHT: 1em; MARGIN-BOTTOM: 0px
}
.entry PRE CODE {
	LINE-HEIGHT: 1em; FONT-SIZE: 12px
}
.sidenav {
	DISPLAY: none
}
.entry {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; PADDING-TOP: 0px; box-shadow: none
}
.index-content .aside {
	POSITION: relative; WIDTH: 100%; MAX-WIDTH: none; HEIGHT: 300px
}
.index-content .section {
	PADDING-RIGHT: 0px; MARGIN-LEFT: 0px
}
.index-content .section UL {
	WIDTH: 85%
}
.index-content .cate-bar {
	WIDTH: 85%
}
.index-content .artical-cate {
	MARGIN-TOP: 50px
}
.blog .aside {
	BACKGROUND-IMAGE: none; DISPLAY: none
}
.project .aside {
	BACKGROUND-IMAGE: none; DISPLAY: none
}
.opinion .aside {
	BACKGROUND-IMAGE: none; DISPLAY: none
}
#menuIndex {
	DISPLAY: none
}
.home-menu {
	POSITION: absolute
}
.index-content .cate-bar {
	WIDTH: 85%
}
.index-content .artical-list {
	WIDTH: 85%
}
.index-content .artical-cate {
	WIDTH: 85%
}
.sidenav {
	DISPLAY: none
}
.entry {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; PADDING-TOP: 0px; box-shadow: none
}
#content {
	MARGIN: 100px auto 50px; WIDTH: 85%
}
.home-menu {
	POSITION: absolute
}

}
